<h4>Στοιχεία Προφίλ</h4>
<hr/>

<div class="span12">
    <div class="alert alert-success fade-alert" ng-show="showSuccessAlert">
        <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">&times;</button>
        <i class="icon-ok"></i> {{ successText }}
    </div>
    <div class="alert alert-error fade-alert" ng-show="showErrorAlert">
        <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')">&times;</button>
        <i class="icon-ok"></i> {{ errorText }}
    </div>

</div>

<div class="span12 margin_0">
    <h4>{{ trans('language.profile_title') }}</h4>
    <form novalidate>
    <table>
        <tr>
            <td class=""><label for="form_name">Όνομα</label>*</td>
            <td class=""><input type="text" required="required" id="form_name" ng-model="profile.name"  disabled/> <span></span> </td>
        </tr>

        <tr>
            <td class=""><label for="form_company">Εταιρεία</label></td>
            <td class=""><input type="text" id="form_company" ng-model="profile.company" disabled/> <span></span> </td>
        </tr>

        <tr>
            <td class=""><label for="form_profession">Επάγγελμα</label></td>
            <td class=""><input type="text" id="form_profession" ng-model="profile.profession" disabled/> <span></span> </td>
        </tr>

        <tr>

        <td class=""><label for="form_location">Τοποθεσία</label></td>
            <td class=""><input type="text" id="form_location" ng-model="profile.location" disabled/> <span></span> </td>
        </tr>

        <tr>
            <td class=""><label for="form_phone1">Τηλέφωνο 1</label>*</td>
            <td class=""><input type="text" required="required" id="form_phone1" ng-model="profile.phone1" disabled/> <span></span> </td>
        </tr>

        <tr>
            <td class=""><label for="form_phone2">Τηλέφωνο 2</label></td>
            <td class=""><input type="text" required="required" id="form_phone2" ng-model="profile.phone2" disabled/> <span></span> </td>
        </tr>

        <tr>
            <td class=""><label for="form_fax">Fax</label></td>
            <td class=""><input type="text" id="form_fax" ng-model="profile.fax" disabled/> <span></span> </td>
        </tr>

        <tr>
            <td class=""><label for="form_address">Διεύθυνση</label></td>
            <td class=""><input type="text" id="form_address" ng-model="profile.address" disabled/> <span></span> </td>
        </tr>

        <tr>
            <td class=""><label for="form_tk">Τ.Κ.</label></td>
            <td class=""><input type="text" id="form_tk" ng-model="profile.tk" disabled/> <span></span> </td>
        </tr>

        <tr>
            <td class=""><label for="form_city">Πόλη</label></td>
            <td class=""><input type="text" id="form_city" ng-model="profile.city" disabled/> <span></span> </td>
        </tr>


        <tr>
            <td class=""><label for="form_afm">Α.Φ.Μ</label></td>
            <td class=""><input type="text" id="form_afm" ng-model="profile.afm" disabled/> <span></span> </td>
        </tr>

        <tr>
            <td class=""><label for="form_doy">ΔΟΥ</label></td>
            <td class=""><input type="text" id="form_doy" ng-model="profile.doy" disabled/> <span></span> </td>
        </tr>


        <!--tr>
            <td class=""></td>
            <td class="">
                <button class="btn" id="form_send" ng-click="update(profile)">Αποθήκευση</button></button><span></span> </td>
        </tr-->
    </table>
    </form>
    <small>{{ trans('language.login_required') }}</small>
    <style>
        form label
        {
            float:left;
        }
    </style>
</div>