<h4>Αγαπημένα Προϊόντα</h4>
<hr/>

<div class="alert alert-success" style="display:none">
</div>
<div class="alert alert-error" style="display:none">
</div>

<div class="span12">
    <div class="alert alert-success fade-alert" ng-show="showSuccessAlert" style="display:inline">
        <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">&times;</button>
        <i class="icon-ok"></i> {{ successText}}
    </div>
    <div class="alert alert-error fade-alert" ng-show="showErrorAlert" style="display:inline">
        <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')">&times;</button>
        <i class="icon-ok"></i> {{ errorText }}
    </div>

</div>

<div class="span12 product-row" ng-repeat="product in favProducts">
    <div class="span2">
        <a href="{{ product.img }}" class="thumbnail">
            <img ng-src="{{ product.thumb }}" />
        </a>
        <span ng-if="product.offer == 0" class="label label-success">Κανονικής ροής</span>
        <span ng-if="product.offer == 1"class="label label-important">Ειδική Προσφορά</span>
        <span ng-if="product.offer == 2"class="label label-info">Κατόπιν παραγγελίας</span>
        <span ng-if="product.offer > 2"class="label label-important">Με έκπτωση</span>
    </div>
    <div class="span5">
        <div class="row-fluid">
            <div class="span12">
                <h4>
                    {{ product.title }}<br /><br />
                    <button class="btn btn-small disabled" type="button"><b>{{ product.code }}</b></button><br />
                    <h5>μέγεθος {{ product.size }}</h5>
                    <h5>χρώμα {{ product.color }}</h5>
                </h4>
            </div>
            <div class="span12" style="margin-left:0">
                <p>
                </p>
            </div>
        </div>
    </div>
    <div class="span2">
        <center>
            <strong>Τιμή χονδρικής</strong><br />
            <button class="btn btn-medium" type="button">{{ product.price_whole }} €</button>
        </center>
    </div>
    <div class="span3">
        <br /><br />
        <!--<center ng-if="product.qty > 0">-->
            <a class="btn btn-small btn-success add-to-cart" style="margin-top:-35px;" ng-click="addToCart(product.id, product.size_id+'::'+product.size, product.color_id+'::'+product.color, cart_add)">Προσθήκη στο καλάθι</a>
        <!--</center>-->
        <center>
            <button type="button" id="removeBtn" class="btn-small btn-danger" ng-click="removeFavorites(product,$index)">
                <span class="icon-trash icon-white"></span> Αφαίρεση
            </button>
        </center>
        <br />
        <center>
            <a class="btn btn-small btn-success disabled">Διαθέσιμο</a>
        </center>
        <!--<center ng-if="product.qty > 0"><a class="btn btn-small btn-success disabled">Διαθέσιμο</a></center>
        <center  ng-if="product.qty <= 0"><a class="btn btn-small btn-warning disabled">σε αναμονή</a></center>-->
    </div>
</div>