<h4>Ιστορικό Παραγγελιών</h4>
<hr/>

<div class="clearfix" style="height: 15px"></div>

<div ng-init="view='Παρακαλώ περιμένετε...';currentPage = 1;">
    <div class="pagination">
        <pagination ng-show="!viewItems"
                    total-items="totalItems"
                    page="currentPage"
                    max-size="maxSize"
                    items-per-page="numPerPage"
                    class="pagination-sm" boundary-links="true"
                    previous-text="‹" next-text="›" first-text="«" last-text="»" ></pagination>
    </div>
    <table class="table table-condensed reports" ng-show="!viewItems">
        <tbody>
        <tr rel="">
            <th style="text-align: center;"># Προϊόντων</th>
            <th colspan="">Ημερομηνία</th>
            <th colspan="">Καθαρή Αξία</th>
            <th colspan="">Αξία Φ.Π.Α.</th>
            <th colspan="">Συνολική Αξία</th>
            <th width="200px">Σχόλιο</th>
        </tr>
        <tr data-ng-repeat="(key, v) in view track by $index">
            <td style="text-align: center;">{{v.totalPrds}}</td>
            <td>{{v.created_at | myDateFormat}}</td>
            <td>{{v.totalNoVat}}</td>
            <td>{{v.totalVat}}</td>
            <td>{{v.totalAmount}}</td>
            <td>{{v.comments}}</td>
        </tr>
        </tbody>
    </table>
    <table class="table table-condensed reports" ng-show="viewItems" ng-init="viewItems=false">
        <tr>
            <th>Είδος</th>
            <th>Κωδικοί</th>
            <th>Ποσότητα</th>
        </tr>
        <tr ng-repeat="i in pitems">
            <td>{{i.NAME}}</td>
            <td>{{i.CODE}} | {{i.CODE1}}</td>
            <td>{{i.QTY}}</td>
        </tr>
        <tr>
            <td colspan="3"><button class="btn btn-small" ng-click="goToList()">πίσω</button></td>
        </tr>
    </table>
    <div class="pagination">
        <pagination ng-show="!viewItems"
                    total-items="totalItems"
                    page="currentPage"
                    max-size="maxSize"
                    items-per-page="numPerPage"
                    class="pagination-sm" boundary-links="true"
                    previous-text="‹" next-text="›" first-text="«" last-text="»" ></pagination>
    </div>
</div>

<style type="text/css">
    .reports{font-size:0.8em;}
    .reports td{
        border: 1px solid #666;
        background-color: #fff;
    }
    th{
        background: #d7464b;
        color: #fff;
    }
    tr:hover > td{
        background-color:#dddddd;
    }

    #loader {
        position: fixed;
        width: 200px;
        color: #fff;
        font-weight: bold;
        top: 50%;
        height: 31px;
        margin-top: -25px;
        left: 50%;
        margin-left: -100px;
        padding: 34px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #222;
        background: #d7464b;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #d7464b 0%, #d7464b 50%, #c80007 50%, #c80007 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7464b), color-stop(50%,#d7464b), color-stop(50%,#c80007), color-stop(100%,#c80007));
        background: -webkit-linear-gradient(top, #d7464b 0%,#d7464b 50%,#c80007 50%,#c80007 100%);
        background: -o-linear-gradient(top, #d7464b 0%,#d7464b 50%,#c80007 50%,#c80007 100%);
        background: -ms-linear-gradient(top, #d7464b 0%,#d7464b 50%,#c80007 50%,#c80007 100%);
        background: linear-gradient(to bottom, #d7464b 0%,#d7464b 50%,#c80007 50%,#c80007 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7464b', endColorstr='#c80007',GradientType=0 );
    }

    .pagination a{
        cursor: pointer;
    }
</style>