.ng-hide-add, .ng-hide-remove {
    -webkit-transition:all linear 400ms;
    -moz-transition:all linear 400ms;
    -o-transition:all linear 400ms;
    transition:all linear 400ms;
}

.ng-hide-add.ng-hide-add-active,
.ng-hide-remove {
    opacity:0;
}

.ng-hide-add,
.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

.product-row.ng-enter,
.product-row.ng-leave
{
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.product-row.ng-enter.ng-enter-active,
.product-row.ng-leave {
    opacity: 1;
    top: 0;
}

.product-row.ng-leave.ng-leave-active,
.product-row.ng-enter {
    opacity: 0;
}

.btn.ng-enter, .btn.ng-add-active{
    display:inline-block;
    opacity: 1;
    transition: opacity 5s linear;
    -webkit-transition: opacity 5s linear;
}

.btn.ng-leave{
    display:none;
    opacity: 0;
    transition: display 0s 5.2s, opacity 5s linear;
    -webkit-transition: display 0s 5.2s, opacity 5s linear;
}

#categories, #manufacturers{
    width:100%;
}

#products-auto_value, #descriptions-auto_value{
    width:95%;
}

.icon-refresh{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
.icon-refresh-animate {

    -webkit-transform:rotate(720deg);
}

