<div class="clearfix"></div>
<div class="span12">
        <div class="span3 product-row" ng-repeat="category in categories"  ng-animate="'animate'">
            <h6 style="text-align: center;">
                <a ng-href="#category/{{ category.id }}/0/0/0/0">
                    <img ng-src="{{ category.thumb }}" style="height:165px;width:220px;"/>
                    <center>{{ category.title }}</center>
                </a>
            </h6>
        </div>
</div>