<div class="span12">
    <select name="denim" ng-init="selectedDenim=0" id="denim" ng-focus="hasResults=0" ng-model="selectedDenim" ng-change="filterChanged(selectedCategory,selectedGroup,selectedSubGroup,selectedSeason,selectedDenim)" ng-options="obj.id as obj.title for obj in denim">
    </select>
</div>
<div class="span12">
    <div class="span3">
        <select name="categories" ng-init="selectedCategory=0" id="categories" ng-focus="hasResults=0" ng-model="selectedCategory" ng-change="filterChanged(selectedCategory,selectedGroup,selectedSubGroup,selectedSeason,selectedDenim)" ng-options="obj.id as obj.title for obj in categoriesl">
        </select>
    </div>
    <div class="span3">
        <select name="group" ng-init="selectedGroup=0" id="groups" ng-focus="hasResults=0" ng-model="selectedGroup" ng-change="filterChanged(selectedCategory,selectedGroup,selectedSubGroup,selectedSeason,selectedDenim)" ng-options="obj.id as obj.title for obj in groups">
        </select>
    </div>
    <div class="span3">
        <select name="subgroup" ng-init="selectedSubGroup=0" id="subgroups" ng-focus="hasResults=0" ng-model="selectedSubGroup" ng-change="filterChanged(selectedCategory,selectedGroup,selectedSubGroup,selectedSeason,selectedDenim)" ng-options="obj.id as obj.title for obj in subgroups">
        </select>
    </div>
    <div class="span3">
        <select name="season" ng-init="selectedSeason=0" id="seasons" ng-focus="hasResults=0" ng-model="selectedSeason" ng-change="filterChanged(selectedCategory,selectedGroup,selectedSubGroup,selectedSeason,selectedDenim)" ng-options="obj.id as obj.title for obj in seasons">
        </select>
    </div>
</div>