<div class="pagination">
    <pagination total-items="totalItems"
                page="currentPage"
                max-size="maxSize"
                items-per-page="numPerPage"
                class="pagination-sm" boundary-links="true"
                previous-text="‹" next-text="›" first-text="«" last-text="»" ></pagination>
</div>

<div class="clearfix"></div>
<div class="span12 product-row" ng-repeat="product in products">
    <div class="span2">

        <a class="fancybox" rel="gallery{{ product.id }}" href="{{ product.img }}">
            <img ng-src="{{ product.thumb }}" />
        </a>

        <div class="hidden" ng-repeat="image in product.img_add">
            <a class="fancybox" rel="gallery{{ product.id }}"  href="{{ image.title }}"><img src="{{ image.title }}" alt=""/></a>
        </div>


        <span ng-if="product.offer == 0" class="label label-success">Κανονικής ροής</span>
        <span ng-if="product.offer == 1"class="label label-important">Ειδική Προσφορά</span>
        <span ng-if="product.offer == 2"class="label label-info">Κατόπιν παραγγελίας</span>
        <span ng-if="product.offer > 2"class="label label-important">Με έκπτωση</span>
    </div>


    <div class="span6">
        <div class="row-fluid">
            <div class="span12">
                <h4>
                    {{ product.title }}<br /><br />
                    <button class="btn btn-small disabled" type="button"><b>{{ product.id_one }}</b></button>
                </h4>
            </div>
            <div class="span12" style="margin-left:0">
                <h5>
                    Σύνθεση
                </h5>
                <p>
                    {{ product.composition }}
                </p>
            </div>
            <div class="span6" style="margin-left: 0px;">
                <select name="productSizes" ng-init="selectedSize='0::Επιλέξτε μέγεθος'" id="productSizes" ng-focus="hasResults=0" ng-model="selectedSize" ng-options="(obj.id+'::'+obj.title) as obj.title for obj in product.sizes">
                </select>
            </div>
            <div class="span6">
                <select name="productColors" ng-init="selectedColor='0::Επιλέξτε χρώμα'" id="productColors" ng-focus="hasResults=0" ng-model="selectedColor" ng-options="(obj.id+'::'+obj.title) as obj.title for obj in product.colors">
                </select>
            </div>

        </div>
    </div>
    <div class="span2">
        <center>
            <strong>Τιμή χονδρικής</strong><br />
                <button class="btn btn-medium" type="button">{{ product.price_whole }} €</button>
            <!--<br><br>
            strong>Τιμή με έκπτωση</strong><br />
                <button class="btn btn-medium" type="button">€</button>
            <strong>Τιμή internet</strong><br />
                <button class="btn btn-medium" type="button"> €</button>
            <br /><br /
            <strong>Τιμή λιανικής</strong><br />
                <button class="btn btn-medium" type="button">{{ product.price }} €</button>-->
        </center>
    </div>
    <div class="span2">
        <br /><br />
        <center>
            <a class="btn btn-small btn-success add-to-cart" style="margin-top:-35px;" ng-click="addToCart(product.id, selectedSize, selectedColor, cart_add)">Προσθήκη στο καλάθι</a>
        </center>
        <center ng-if="product.loggedin">
            <a ng-click="addToFavorites(product.id, selectedSize, selectedColor, user_id, favorite_add)" class="btn btn-small" title="Προσθήκη στα αγαπημένα"><i class="icon-heart"></i></a>
        </center>
        <br />
        <center><a class="btn btn-small btn-success disabled">Διαθέσιμο</a></center>
    </div>
</div>

<br />
<div class="clearfix"></div>

<div class="pagination">
    <pagination total-items="totalItems"
                page="currentPage"
                max-size="maxSize"
                items-per-page="numPerPage"
                class="pagination-sm" boundary-links="true"
                previous-text="‹" next-text="›" first-text="«" last-text="»" ></pagination>
</div>