<div class="clearfix"></div>
<div class="span12 product-row">
    <div class="span2">
        <a href="{{ product.img }}" class="thumbnail">
            <img ng-src="{{ product.thumb }}" />
        </a>
        <span ng-if="product.offer == 0" class="label label-success">Κανονικής ροής</span>
        <span ng-if="product.offer == 1"class="label label-important">Ειδική Προσφορά</span>
        <span ng-if="product.offer == 2"class="label label-info">Κατόπιν παραγγελίας</span>
        <span ng-if="product.offer > 2"class="label label-important">Με έκπτωση</span>
    </div>
    <div class="span6">
        <div class="row-fluid">
            <div class="span12">
                <h4>
                    {{ product.title }}<br /><br />
                    <button class="btn btn-small disabled" type="button"><b>{{ product.id_one }}</b></button>
                </h4>
            </div>
            <div class="span12" style="margin-left:0">
                <h5>
                    Σύνθεση
                </h5>
                <p>
                    {{ product.composition }}
                </p>
            </div>

            <h5>
                Μεγέθη
            </h5>

            <div class="span1" ng-repeat="size in product.sizes">
                <span class="size-red"> {{ size.title }} </span>
            </div>
        </div>
    </div>
    <div class="span2">
        <center>
            <strong>Τιμή χονδρικής</strong><br />
            <button class="btn btn-medium" type="button">{{ product.price_whole }} €</button>
            <br><br>
            <!--strong>Τιμή με έκπτωση</strong><br />
            <button class="btn btn-medium" type="button">€</button>
            <br /><br />
            <strong>Τιμή internet</strong><br />
            <button class="btn btn-medium" type="button"> €</button>
            <br /><br /-->
            <strong>Τιμή λιανικής</strong><br />
            <button class="btn btn-medium" type="button">{{ product.price }} €</button>
        </center>
    </div>
    <div class="span2">
        <br /><br />
        <center ng-if="product.qty > 0">
            <a class="btn btn-small btn-success add-to-cart" style="margin-top:-35px;" ng-click="addToCart(product.id, lang, cart_add)">Προσθήκη στο καλάθι</a>
        </center>
        <center ng-if="product.loggedin">
            <a ng-click="addToFavorites(product.id, user_id, lang, favorite_add)" class="btn btn-small" title="Προσθήκη στα αγαπημένα"><i class="icon-heart"></i></a>
            <a ng-if="product.qty <= 0" ng-click="addToWishlist(product.id, user_id, lang, wishlist_add)" class="btn btn-small" title="Προσθήκη την λίστα επιθυμιών"><i class="icon-star"></i></a>
        </center>
        <br />
        <center ng-if="product.qty > 0"><a class="btn btn-small btn-success disabled">Διαθέσιμο</a></center>
        <center  ng-if="product.qty <= 0"><a class="btn btn-small btn-warning disabled">σε αναμονή</a></center>
    </div>
</div>

<br />
<div class="clearfix"></div>