<h4>Ολοκλήρωση παραγγελίας</h4>
<hr/>

<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th>Περιγραφή</th>
        <th>Ποσότητα</th>
        <th>Τιμή</th>
        <th>Υποσύνολο</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items.items">
        <td ng-if="item.id==null" colspan="4" class="error"><i class="fa fa-exclamation-triangle" style="font-size: 3em;float: left;padding: 7px;"></i> {{item.title}}</td>
        <td ng-if="item.id!=null">{{ item.title }}</td>
        <td ng-if="item.id!=null" class="centered">{{ item.qty }}</td>
        <td ng-if="item.id!=null" class="centered">{{ item.price }} &euro;</td>
        <td ng-if="item.id!=null" class="centered">{{ item.subtotal }} &euro;</td>
        <td ng-if="item.id!=null" class="centered"></td>
        <td ng-if="item.id==null" class="error">
            <a class="btn" ng-click="removeFromCheckout($index)">
                <i class="fa fa-trash-o"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div class="row-fluid">
    <div class="span4">
        <label for="comments" style="font-weight:bold">Σχόλιο</label>
        <textarea ng-model="comments" name="comments" id="comments" rows="4" placeholder="Εισάγετε αν θέλετε κάποιο σχόλιο για την παραγγελία σας">
            {{ comments }}
        </textarea>
    </div>
    <div class="span8" style="text-align: right;"><br/>
        <button class="btn" onclick="window.location = '/cart'">Πίσω στο καλάθι</button>&nbsp;<button class="btn btn-success" ng-click="sendOrder()">Αποστολή παραγγελίας</button>
    </div>
</div>
<div class="span12" style="height:90px;">
    <div class="alert alert-success fade-alert" ng-show="showSuccessAlert" style="display:inline">
        <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">&times;</button>
        <i class="icon-ok"></i> {{ successText }}
    </div>
    <div class="alert alert-error fade-alert" ng-show="showErrorAlert" style="display:inline">
        <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')">&times;</button>
        <i class="icon-ok"></i> {{ errorText }}
    </div>
</div>
<style>
    .table-bordered{
        border: 1px solid #bbb;
        background-color:#fff;
    }
    .table-bordered tr td{
        border-bottom:1px solid #bbb;
        border-right: 1px solid #bbb;
        padding:5px;
    }
    .table-bordered tr td:last-child{
        border-right: none;
    }
    .table-bordered tr th{
        background-color: #d7464b;
        color:#fff;
        padding:10px;
        text-align: center;
        border-right: 1px solid #bbb;
        border-bottom:1px solid #bbb;
    }

    .table-bordered .centered{
        text-align: center;
    }

    .table-bordered .error{
        font-size: 0.95em;
        background-color:#d7464b;
        color:#fff;
    }
</style>